h2{
  color:white;
  font-size:auto;
  font-family: Courier New;
  text-align:left;
  position: relative;
  left:10px;
}
h3{
  color:white;
  font-size:auto;
  font-family: Courier New;
  text-align:left;
  position: relative;
  left:10px;
}
h5{
  color:white;
  font-size:20px;
  font-family: Courier New;
}

#map {
  width: 200px;
  height: 200px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}
#img01{
  weight:100px;
  height:100px;
  float:left;
}
#subtitle{
  color:white;
  text-align:center;
  font-style:italic;
}
.header{
  padding:15px;
}
.column1,.column2,.column3{
    float: left;
    padding: 16px;
    margin:0px;


}

.row {
    content: "";
    display: table;
    clear: both;
    width:100%;
}
.column1{
  width:10%;
  text-align:left;
}
.column2{
  width:50%;
  text-align:center;
}
.column3{
  width:10%;
  text-align:left;
}
.bottom{
  color:white;
}
table{
  padding: 20px;
  text-align:center;
  width:100%
}
a{
  text-decoration:none;
}
a:link{
  color:white;
}
a:visited{
  color:yellow
}
a:hover{
  color:Red;
  text-decoration:underline;
}
#demo{
  color:white;
}

ul,li{
  padding:0px;
  margin:0px;
  width:100px;
}
.searchbar{
  font-size:9px;
}
